# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & Temp Files
# =========================
*.log
*.tmp

# =========================
# Generated Outputs
# =========================
output/
recordings/

